body{ 
    background-color: rgb(123, 8, 218);
    height:100%;
    width: 100%;
    color: white;
}
.Wrapper{
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.Box{
    background-color: yellow;
    color: black;
    height:100px;
    width:100px;
    display: inline-block;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}